.container {
  position: relative;
  display: flex;
  padding-top: 6px;
}

.dotHover {
  r: 5;
  cursor: pointer;
}

.dotHover:hover {
  r: 7;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.xPointsContainer {
  padding-right: 6px;
  display: flex;
}

.xPoints {
  position: absolute;
  line-height: 16px;
  text-align: right;
}

.xPoints::before {
  content: '';
  height: 6px;
  width: 1px;
  display: block;
  background-color: #9e9e9e;
  position: relative;
  top: -8px;
  left: 10px;
}

.yPointsContainer {
  padding-right: 6px;
}

.yPoints {
  position: relative;
  line-height: 16px;
  text-align: right;
  height: 16px;
  white-space: nowrap;
}

.svgWrapper {
  position: relative;
  width: 100%;
}

.valueBoxContainer {
  position: absolute;
  z-index: 10;
}

.valueBox {
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 4px 0px rgba(189, 189, 189, 1);
  transition: all 0.5s ease;
  padding: 4px 10px;
}

.valueBoxTest {
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 4px 0px rgba(189, 189, 189, 1);
  transition: all 0.5s ease;
  padding: 4px 10px;
}
